{% extends "base.html" %}

{% block title %}
ERROR - {{ app_name }} Generator
{% endblock %}

{% block content %}
<a href="{{ url_for('index') }}" type="button" class="btn btn-success btn-rounded floating-button custom-btn">
    <i class="fa-solid fa-arrow-left"></i>&nbsp&nbspGo Back
</a>
<div class="container">
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <h1>Woops!</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h2>Something went wrong :(</h2>
    </div>
    <br>
    <h3>Additional Information:</h3>
    <br>
    <p>{{error}}</p>
</div>
{% endblock %}