<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
    <form action="/gen" method="post">
        <label for="job_id">Job ID:</label>
        <input type="text" name="job_id" readonly><br>

        <label for="doc_name">Doctor Name:</label>
        <input type="text" name="doc_name" required><br>

        <label for="doc_desc">Doctor Description:</label>
        <input type="text" name="doc_desc" required><br>

        <button type="submit">Generate Image</button>
    </form>
</body>

</html>